.headerBlock {
    display: flex;
    justify-content: center;
    background: #FBC02D;
    margin-top: 5.5em;
}

.forms1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: center;
}

.formDondeVamos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.opcionContainer{
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
    height: 50%;
    width: 25%;
}

.inputDestino{
    box-sizing: border-box;
    font-size: 16px;
    color: var(--colorTextoPrimario);
    border: 2px solid #607D8B;
    background-color: var(--colorBackgroundSecundario);
    border-radius: 5px;
    text-align: left;
    height: 100%;
    padding: 2%;
    min-width: fit-content;
    max-width: 100%;
}

/* .inputListado{
    background-color: var(--colorBackgroundSecundario);
    color: var(--colorTextoSecundario);
    border-radius: 0 0 10px 10px;
    padding: 0 2%;
    position: relative;
} */

.inputOpciones a:hover {
    background-color: #f1f1f1
}

.inputListado:focus{
    outline: 3px solid #ddd;
}

.show {display:block;}

.inputOpciones{
    display: flex;
    list-style: none;
}

.calendarWrap{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
}

.inputCalendario{
    text-decoration: none;
    color: var(--colorTextoPrimario);
    border: 2px solid #607D8B;
    background-color: var(--colorBackgroundSecundario);
    border-radius: 5px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    min-width: fit-content;
    max-width: 100%;
}

.calendario{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 12em;
}


.botonBuscar {
    margin: auto 1em;
    text-decoration: none;
    color: var(--colorTextoPrimario);
    border: 2px solid #607D8B;
    background-color: var(--colorBackgroundSecundario);
    border-radius: 5px;
    height: 50%;
    width: 15%;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.botonBuscar:hover{
    background-color: var(--colorBackgroundSecundario);
    color: var(--colorTextoSecundario);
}

@media(max-width: 768px){

}
@media(max-width: 414px){
    .formDondeVamos{
        flex-direction: column;
    }
    .calendarWrap{
        width: 80%;
        padding: 5px;
    }
    .botonBuscar{
        width: 80%;
        padding: 5px;
    }
}