.body{
    height: 100%;
    background-color: #ddd;
}

.tarjetaContainer{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 50%;
    padding: 5px;
}


.caption{
    font-size: 0.8rem;
    align-self: auto;
    width: 150px;
}