.headerBlock {
    display: flex;
    justify-content: center;
    background: #FBC02D;
}

.forms1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: center;
}

.formDondeVamos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.botonBuscar {
    margin: auto 1em;
    text-decoration: none;
    color: var(--colorTextoPrimario);
    border: 2px solid #607D8B;
    background-color: var(--colorBackgroundSecundario);
    border-radius: 5px;
    height: 50%;
    width: 15%;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.botonBuscar:hover{
    background-color: var(--colorBackgroundSecundario);
    color: var(--colorTextoSecundario);
}

@media(max-width: 768px){

}
@media(max-width: 430px){
    .formDondeVamos{
        flex-direction: column;
    }
    .calendarWrap{
        width: 80%;
        padding: 5px;
    }
    .botonBuscar{
        width: 80%;
        padding: 5px;
    }
}