.container {
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    */
}

.subHeaderDerecha>p {
    padding: 0.5vh;
    width: 10%;
    height: 45%;
    background-color: var(--colorBackgroundPrincipal);
    border: 2px solid var(--colorBackgroundPrincipal);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer>* {
    margin: 5vh 0px;
}

.descriptionContainer {
    text-align: left;
    margin: 0px 2vw;
}

.descriptionContainer>h2 {
    margin: 15px 0vw;
    font-size: 1.2em;
}

.descriptionContainer>p {
    font-size: 0.85em;
}

.calendarWrap>div {
    margin: 2vh 0px;
}

.iniciarReservaContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    box-shadow: var(--borderShadow);
}

.imgContainer{
    position: relative;
    width:100%;
}

.galeria{
    position: relative;
}

.BotonContainer {
    margin: 1vh 0px;
    width: 60%;
}

.title {
    width: 100%;
    margin: 15px 10px;
    text-align: left;
}
.subtitle {
    width: 100%;
    margin: 15px 10px;
}

@media (min-width: 420px) {
    .iniciarReservaContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title {
        width: 50%;
        font-size: 0.8em;
    }
    .subtitle {
        width: 50%;
        font-size: 0.8em;
        text-align: left;
    }

    .BotonContainer {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .containerCalendarReserva {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .subtitle {
        text-align: center;
    }

    .iniciarReservaContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: max-content;
    }

}