.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.subHeaderDerecha>p {
    padding: 0.5vh;
    width: 10%;
    height: 45%;
    background-color: var(--colorBackgroundPrincipal);
    border: 2px solid var(--colorBackgroundPrincipal);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer>* {
    margin: 5vh 0px;
}

.descriptionContainer {
    text-align: left;
    margin: 0px 2vw;
}

.descriptionContainer>h2 {
    margin: 15px 0vw;
    font-size: 1.2em;
}

.descriptionContainer>p {
    font-size: 0.85em;
}

.calendarWrap>div {
    margin: 2vh 0px;
}

.iniciarReservaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    box-shadow: var(--borderShadow);
}

.BotonContainer {
    margin: 1vh 0px;
    width: 60%;
}

.title {
    width: 100%;
    margin: 15px 10px;
    text-align: left;
}


div .calendarContainer {
    margin: 0px 15px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: var(--borderShadow);
}

/*
CARROUSEL
*/

.carrousel {
    position: absolute;
    top: 10vh;
    left: 0;
    backdrop-filter: blur(5px);
    height: calc(100vh - 15vh);
}

.imagenCarrousel {
    width: 90%;
}

.carrouselContainer .carrouselButton {
    position: fixed;
    top: 12vh;
    right: 5vh;
    z-index: 10;
    cursor: pointer;
    font-size: 3vh;
    background: var(--colorBackgroundSecundario);
    border: none;
}

.carrouselContainer .carrouselButton svg {
    display: flex;
}

@media (min-width: 420px) {
    .iniciarReservaContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title {
        width: 50%;
        font-size: 0.8em;
    }

    .BotonContainer {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .containerCalendarReserva {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .iniciarReservaContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        height: max-content;
    }

    .calendarContainer {
        width: 60%;
    }
}