.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorTextoSecundario);
    border-radius: 5px;
    width: 100%;
    min-height: fit-content;
    max-height: 50px;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease-out;
    padding: 5px;
    opacity: 85%;
}

.link {
    color: white;
    align-self: center;
}