.button>* {
    width: 50%;
    height: 50%;
}

.button:hover {
    background-color: var(--colorBackgroundPrincipal);
    color: var(--colorTextoSecundario);
}

.button {
    text-decoration: none;
    color: var(--colorTextoPrimario);
    border: 2px solid var(--colorBackgroundPrincipal);
    background-color: var(--colorBackgroundPrincipal);
    border-radius: 5px;
    width: 80%;
    min-height: 40px;
    max-height: 50px;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease-out;
    margin: 5px
}