.button{
    text-decoration: none;
    color: var(--colorTextoPrimario);
    border: 2px solid var(--colorBackgroundPrincipal);
    background-color: var(--colorBackgroundPrincipal);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.button:hover{
    background-color: var(--colorBackgroundPrincipal);
    color: var(--colorTextoSecundario);
}