.caracteristicaItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vh 0px;
}

@media (min-width: 1000px) {
    .caracteristicaItems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}