.header{
  position: relative;
  box-shadow: var(--borderShadow);
  background-color: var(--colorBackgroundSecundario);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header > * {
  margin: 2px;
}

.subHeaderIzquierda {
display: flex;
flex-direction: row;
}
.subHeaderIzquierda > *{
  margin: 0px 10px
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.home > *{
  margin: 1px 3px;
}

.subHeaderDerecha{
  display: flex;
  flex-direction: row;
  justify-content: right ;
  align-items: center;
  position: relative;
  height: fit-content;
  width: 70%;
}
.subHeaderDerecha> * {
  margin: 2% 5%;
}

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -1px;
  right: -5px
}

.contain {
  width: 50%;
}

@media (min-width: 425px) {
    .burger {
        display: none;
    }

    .subHeaderDerecha {
      width: 70%;
    }
}
@media (min-width: 1000px) {
  .subHeaderDerecha {
    width: 50%;
  }
}