<<<<<<< HEAD
.container{
    display: flex;
    flex-direction: column;
    background-color: var(--colorBackgroundPrincipal);
    margin: 50px 0px 2px;
}

.container h2 {
    align-self: flex-start;
    margin: 25px 20px 2px;
}

@media (min-width: 780px) {
    .tarjetaListadoContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
=======
.tarjetaListadoContainer{
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 1vh 0;
    margin-top: 2vh;
    height: 30%;
}

.tarjetaListadoContainer::-webkit-scrollbar {
    display: none;
}
>>>>>>> daa76d218e2402f4e2ed7e8a758ce90f18001634
