.container {
    background-color: beige;
}

.details {
    margin: 3vw 3vw;
}

.form > div{
    margin: 1vw 1vw;
    border: 2vw solid white;
    border-top: 0vw solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--borderShadow);
}


.form h1 {
    font-size: 20px;
    margin: 15px;
    text-align: left;
}

.politicas {

}

@media (min-width: 900px) {
    .body{
        display:flex;
        flex-direction:row;
    }

    .details {
        width: 35vw;
    }

    .form{
        width: 60vw;
    }
    }
