.container {
    background-color: beige;
}

.details {
    margin: 3vw 3vw;
}

.form >  div{
    margin: 3vw 3vw;
    border: 2vw solid white;
    border-top: 0vw solid white;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 3px 2px grey;
}

.labelContainer > div {
    display: flex;
    flex-direction: column;
    margin: 3vw 3vw;
}

.labelContainer > div > label {
    text-align: left;
    margin: 3vw 0vw 1vw;
}

.labelContainer > div > input {
    padding: 8px 2px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 0.821);
}

.form h1 {
    font-size: 2rem;
    text-align: left;
}

@media (min-width: 900px) {
    .body{
        display:flex;
        flex-direction:row;
    }

    .details {
        width: 35vw;
    }

    .form{
        width: 60vw;
    }
    }

@media (min-width: 600px) {
    .labelContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .labelContainer > div {
        display:flex;
        flex-direction: column;
        margin: 0px 10px
    }
    
 }