.tarjetaListadoContainer{
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    background-color: var(--colorBackgroundSecundario);
    padding: 1vh 0;
    /* margin-bottom: 1vh; */
    height: 30%;
}

.tarjetaListadoContainer::-webkit-scrollbar {
    display: none;
}