.containter{
    display: inline-block;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--colorBackgroundSecundario);
    
}

.tarjetaContainer{
    width: 100%;
    justify-content: space-between;
    float: left;
    overflow: auto;
    scroll-snap-type: x mandatory;
    background-color: var(--colorBackgroundSecundario);
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    margin-top: 5vh;
}

/* .tarjetaContainer::-webkit-scrollbar {
    display: none;
} */

.tarjetaContainer:hover:not(.active){
    background-color: rgb(235, 235, 235);
}
