.tarjetaListadoContainer{
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    background-color: var(--colorBackgroundSecundario);
    margin-top: 1%;
    height: 28%;
}

.tarjetaListadoContainer::-webkit-scrollbar {
    display: none;
}