.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    display: flex;
    gap: 16px;
}

.dos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
