.footerBlock{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: var(--colorBackgroundPrincipal);
}


.footerText{
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 12px;
    white-space: nowrap;
    padding: 10px;
}

small{
    font-size: 10px;
    padding-left: 0.3vh;
    font-weight: 700;
}