.header{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--colorBackgroundSecundario);
  width: 100%;
}

.sticky{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--colorBackgroundSecundario);
  width: 100%;
  position: fixed;
  top: 0;
}

.headerContainer{
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.headerLogo{
  display: flex;
  align-items: center;
}

.images{
  margin: 1rem;
  height: 3.7rem;
  border-radius: .5rem;
}

.headerLogo a {
  text-decoration: none;
}

.slogan{
  color: #545776;
  font-size: 20px;
  font-style: italic;
  animation: fadeIn 2s;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.LogoSlogan{
  display: flex;
  align-items: center;
}



/* Iniciar Session */
.iniciarSession{
  display: flex;
}

.iniciarSession .usuarioIniciarSession{
  display: flex;
  margin-right: 2em;
}

.button{
  margin: auto 1em;
  text-decoration: none;
  color: var(--colorTextoPrimario);
  border: 2px solid #607D8B;
  background-color: var(--colorBackgroundSecundario);
  border-radius: 5px;
  padding: 0.5em;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease-out;
}

.button:hover{
  background-color: var(--colorBackgroundPrincipal);
  color: var(--colorTextoSecundario);
}

.iniciarSession .usuarioSessionIniciada{
  display: none;
}
/* Termina Iniciar Session */


/* Session Iniciada */
.sessionIniciada{
  display: flex;
}

.sessionIniciada .usuarioSessionIniciada{
  display: flex;
  align-items: center;  
  margin-right: 1em;
}

.perfilUsuario{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin: 0 0.5em ;
  padding: 0;
  align-items: flex-start;
}

.avatar{
  background: var(--colorBackgroundPrincipal);
  display: flex;
  color: var(--colorTextoPrimario);
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.2em;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.saludo{
  margin: 0;
  padding: 0;
  color: var(--colorTextoPrimario);
  font-size: 16px;
  font-weight: 600;
}

.linkPerfil{
  text-decoration: none;
  color: var(--colorBackgroundSecundario);
  font-size: 16px;
  font-weight: 500;
}

.cerrarSession{
  margin: auto 5px;  
  text-decoration: none;
  color: var(--colorTextoPrimario);
  font-size: 16px;
  font-weight: 500;
}



.sessionIniciada .usuarioIniciarSession{
  display: none;
}

/* Termina Session Iniciada */


/* .container p{
  font-size: 14px;
}

.container h1{
  font-size: 24px;
  font-weight: bold;

}

.container h2{
  font-size: 20px;
  font-weight: bold;
}

.container h3{
  font-size: 16px;
  font-weight: bold;
}

.container h4{
  font-size: 14px;
  font-weight: bold;
} */

@media(max-width: 768px){
  .slogan{
    display: none;
  }
}
@media(max-width: 414px){
  .slogan{
    display: none;
  }
  .button{
    display: none;
  }
}